Data Type:
- int
- float
- str
- bool
- tuple
- list
- set
- dict

In [ ]:
5  # int
5.0  # float
"halo"  # str
True  # bool
()  # tuple
[]  # list
{array}  # set
{key: value}  # dict

In [11]:
a = (5, 6, 7, 7, 6)
b = [5, 6, 7, 7, 6]
c = {6, 7, 7, 6, 5, "ali", "Ali"}

In [12]:
print(type(a))
print(type(b))
print(type(c))

<class 'tuple'>
<class 'list'>
<class 'set'>

In [13]:
print(a)
print(b)
print(c)

(5, 6, 7, 7, 6)
[5, 6, 7, 7, 6]
{'Ali', 'ali', 5, 6, 7}

In [15]:
a[1] = 10

TypeError: 'tuple' object does not support item assignment

In [17]:
b[1] = 10

In [18]:
print(a)
print(b)
print(c)

(5, 6, 7, 7, 6)
[5, 10, 7, 7, 6]
{'Ali', 'ali', 5, 6, 7}

In [19]:
c[1]

TypeError: 'set' object is not subscriptable

In [20]:
id(a)

140381059279952

In [21]:
id(b)

140381059718208

In [22]:
b[:2]

[5, 10]

In [23]:
c[:2]

TypeError: 'set' object is not subscriptable

In [28]:
range(100)

range(0, 100)

In [29]:
map = {"a": "A", "b": "B", "n": "N", "m": "M", "e": "E"}

In [32]:
upper = ""
print(upper)
for char in "name":
    upper += map[char]
print(upper)

NAME

In [34]:
def this_is_a_function(param1, param2):
    return param1 + param2

In [35]:
this_is_a_function(5, 8)

13

In [60]:
class ObjectNumberOne:
    def __init__(self, attribute1, attribute2):
        self.attribute1 = attribute1
        self.attribute2 = attribute2

    def func(self):
        return self.attribute1 + self.attribute2

    def update_attr(self, value):
        self.attribute1 += value

In [61]:
object = ObjectNumberOne(5, 8)

In [62]:
object.func()

13

In [63]:
object.attribute1

5

In [50]:
object.attribute2

8

In [67]:
object.update_attr(25)

In [68]:
object.attribute1

35

In [54]:
object.attribute2

8